{% extends 'base.html' %}

{% block title %} Calculate the value of your car {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
            <div class="col md-12">
                <form action="{{url_for('results')}}" method="POST">
                    <div class="form-group">
                        <label for="make">Make:</label>
                        <select class="form-control" id="make" name="make" required>
                            <option value="">Select a make</option>
                            <option value="Audi">Audi</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="model">Model:</label>
                        <select class="form-control" id="model" name="model" required>
                            <option value="">Select a model</option>
                            <option value="A1">A1</option>
                            <option value="A3">A3</option>
                            <option value="A4">A4</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="year">Year:</label>
                        <select class="form-control" id="year" name="year" required>
                            <option value="">Select a Year</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2014">2014</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="colour">Colour:</label>
                        <select class="form-control" id="colour" name="colour" required>
                            <option value="">Select a colour</option>
                            <option value="bianco">Bianco</option>
                            <option value="Black">Black</option>
                            <option value="Grey">Grey</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="gear">Gear:</label>
                        <select class="form-control" id="gear" name="gear" required>
                            <option value="">Select a gear</option>
                            <option value="Automatic">Automatic</option>
                            <option value="Manuale">Manuale</option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="fuelType">Fuel Type:</label>
                        <select class="form-control" id="fuelType" name="fuelType" required>
                            <option value="">Select fuel type</option>
                            <option value="Diesel">Diesel</option>
                            <option value="Benzina">Benzina</option>
                        </select>
                      </div>
                      
                      <div class="form-group">
                        <label>Kilometers:</label>
                        <input type="number" name="km" placeholder="Enter the amount of kilometers" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Get instant valuation</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}